@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/vue-airbnb-style-datepicker/dist/styles";

.slide-enter-active, .slide-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}

.slide-leave-to {
  opacity: 0;
  transform: translateX(-90%);
}

.slide-enter {
  opacity: 0;
}
