div#app
	//-nav.navbar.navbar-expand-lg.navbar-light.bg-light
  //-		a.navbar-brand(href="#") Navbar
	//-	div#navbarNavAltMarkup.collapse.navbar-collapse
  //-  		div.navbar-nav
  //-  			router-link.nav-item.nav-link(to="#{page_path @conn, :new_event, step: 1}" active-class="active")
  //-  				= gettext("Event")
  //-  			router-link.nav-item.nav-link(to="#{page_path @conn, :poll}" active-class="active")
  //-  				= gettext("Poll")

	div
	 	router-view
