div#app(v-cloak)
  b-navbar(toggleable="md" type="dark" variant="info")

    b-navbar-brand(href="#") Smoodle

    b-navbar-toggle(target="nav_collapse")

    b-collapse#nav_collapse(is-nav="")
      b-navbar-nav
        b-nav-item(v-bind:to="{name: 'new_event'}")
          i.fas.fa-plus-circle
          | {{ $t("event_editor.title") }}

	div
	 	router-view
