.container
  .jumbotron
    h1.display-4
      = gettext "Welcome to Lets meet!"
    p.lead
      = gettext "Lets meet! is a smart scheduling app that allows you to schedule your events easily"

.container
  .row.justify-content-center
    .col-4
      a.btn.btn-lg.btn-primary(role="button" href="#{page_path @conn, :event_new}")
        = gettext "Schedule an event now"

