 {
   "presets": [
     ["@babel/preset-env", {
       "targets": {
         "browsers": ["last 1 version", "not dead", "> 0.2%"]
       },
       "useBuiltIns": "usage",
       /*
        core-js@3 is used here to add polyfills for Array.flat & friends (needed for MS Edge)
        This can't be (yet) done with @babel/polyfill: https://github.com/cmdcolin/babel-array-flat-demo
       */
       "corejs": 3
     }]
   ],
   "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-syntax-dynamic-import"]
 }
