doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="" name="description")
    meta(content="" name="author")
    title Phoenix
    link(rel="stylesheet" href=static_path(@conn, "/css/bundle.css"))
    = if @view_template == "app.html" do
      script =raw("var smoodle_locale = '#{Plug.Conn.get_session(@conn, :locale)}'")
      script(src=static_path(@conn, "/js/bundle.js") defer=true)

  body
    main(role="main")
      = render @view_module, @view_template, assigns

